@model NFB2TEntity.Usuario

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_BootstrapLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Usuario</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.codUsuario)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.codUsuario)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.dcNome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dcNome)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.dcLogin)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dcLogin)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.dcSenha)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dcSenha)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.dcEmail)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dcEmail)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
